**/__pycache__/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/Data/
/dataSources.local.xml
/Data/dst-3.0_16_1_hh_database.csv
/Data/ExchangeRates.csv
